<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>相关</span>
    <a
      b-slate-link
      href="https://trusfort.com/home.html" target="_blank"
    >
      Trusfort官网
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://trusfort.com/productZn.html" target="_blank"
    >
      By 智能安全研发部
    </a>
  </p>
</footer>
